.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 0% 0.25rem;
  text-shadow: 1px 1px 10px #fff;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
.Character{
  border: 0.5rem solid black;
  color: white;
  font-weight: bold;
  font-size: large;
  margin: 2rem;

}
/* write your parent styles in here for your App.js */
